.chat-message {
    max-width: 70%;
    margin-bottom: 0.37rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 8px;
    position: relative;
}

.self {
    align-self: flex-end;
    background-color: var(--reggie-red);
    color: var(--alt-text-color);
}

.other {
    align-self: flex-start;
    background-color: rgb(82, 82, 181);
    color: var(--alt-text-color);
}

/* the whole box interior */
.message-content {
    font-size: 0.95rem;
    word-wrap: break-word;
    padding:0.24rem;
    
}

.edited {
    font-size: 0.8rem;
    color: var(--alt-text-color);
}

.timestamp {
    font-size: 0.5rem;
    color: var(--alt-text-color);
    text-align: right;
    margin-top: 0.05rem;
}

.message-text
{
    padding-right:10px;
}