.filters-container {
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--bg-highlight);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  max-width: 25rem;
  margin: 0 auto;
}

.filters-container h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: var(--text-color);
}

.filter-group {
  margin-bottom: 0.75rem;
  font-weight: bold;
}

/* these are weird shenanigans needed to get all three input boxes to be equal length */
input, select {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-group input,
.filter-group select {
  width: 95%;
  padding: 0.5rem;
  margin:0.5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--bg-highlight);
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.apply-filters {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: var(--reggie-red);
  color: var(--alt-text-color);
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-filters:hover {
  background-color: var(--reggie-red-hover);
}