.search-bar-container {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: var(--text-color);
    margin-bottom: 1.25rem;
    width: 100%;
}

.search-input {
    flex-grow: 1;
    padding: 0.625rem;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--bg-highlight);
    border-radius: 0.25rem;
}

.search-button {
    padding: 0.625rem 0.9375rem;
    background-color: var(--reggie-red);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: var(--reggie-red-hover);
}

.sort-dropdown {
    padding: 0.625rem;
    font-size: 1rem;
    border: 1px solid var(--bg-highlight);
    border-radius: 0.25rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
}