.user-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 1.25rem;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}