.settings-page {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 1.25rem;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
}

.theme-button {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    margin-right: 0.625rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s;
}

.theme-button.light-mode {
    background-color: #282626;
    color: #fff;
}

.theme-button.dark-mode {
    background-color: #cecece;
    color: #000;
}

.theme-button:hover {
    opacity: 0.9;
}

.logout-button {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: var(--reggie-red);
    color: var(--alt-text-color);
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: var(--reggie-red-hover);
}

.delete-account-button {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    margin-bottom: 1.25rem;
    background-color: lightgray;
    color: #a10101;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s;
    border: 3px solid #a10101;
}

.delete-account-button:hover {
    background-color: var(--reggie-red);
    color: var(--alt-text-color);
}

input {
    margin:  0.45rem;
}