.single-listing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-bottom: 1.25rem;
}

.single-listing-page h1 {
  text-align: center;
}

.content-wrapper {
  display: flex;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  align-items: stretch;
}

.listing-section {
  flex: 2;
  background-color: var(--bg-color);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.author-details {
  flex: 2;
  margin-top: 1.75rem;
  margin-bottom: 5rem;
  min-width: 18.75rem;
  padding: 0.9375rem;
  border: 1px solid var(--bg-highlight);
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.author-image img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.author-details h3 {
  text-align: center;
  margin-bottom: 0.625rem;
}

.author-details p {
  font-size: 0.875rem;
  text-align: center;
}

.message-form-textarea {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--bg-highlight);
  border-radius: 0.3125rem;
}

/* Shared button styles (Message and Toggle Block) */
form button,
.block-button {
  display: inline-block;
  margin: 0.625rem 0.3125rem;
  padding: 0.625rem 0.9375rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

form button {
  background-color: #4caf50;
}

form button:hover {
  transform: scale(1.05);
  background-color: #45a049;
}

.button-wrapper {
  position: relative;
}

/* Toggle Block button */
.block-button {
  position: absolute;
  bottom: 0;
  right: 0.3125rem;
  background-color: var(--reggie-red);
}

.block-button:hover {
  transform: scale(1.05);
  background-color: var(--reggie-red-hover);
}

.block-button.blocked {
  background-color: #4d79ff;
}

.block-button.blocked:hover {
  background-color: #3366ff;
}
